<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume calendar is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://10.7.93.101:3306/calendar</property>
        <!--<mapping resource="com/calendar/model/CalDataEntity.hbm.xml"/>
        <mapping class="com.calendar.model.CalDataEntity"/>
        <mapping class="com.calendar.model.CalUserEntity"/>
        <mapping resource="com/calendar/model/CalUserEntity.hbm.xml"/>-->

        <!-- List of XML mapping files -->
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Event.hbm.xml" />
    </session-factory>
</hibernate-configuration>